@media screen and (max-width:1200px){
	#mivel-foglalkozunk h3{font-size:24px;}
}
@media screen and (max-width:783px){
	.navbar-header button{margin-top:18px;}
	.navbar-collapse ul{margin:0;}
	.navbar-collapse li a{display:block;line-height:20px;padding-top:10px;padding-bottom:10px;}
}
@media screen and (max-width:568px){

}
@media screen and (max-width:400px){
	.archive_post img{
		width:100%;
	}
	.archive_post .archive_title{
		float:left;
		width:100%;
		height:25px;
		line-height:25px;
		margin:0;
	}
	.archive_post .archive_content{
		text-align:justify;
	}
}
